@model DAL.Entity.Typess

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Modifier un Type</h5>
        <form method="post" asp-action="Update" asp-controller="Types">


            <div class="mb-3">
                <label class="form-label">Id :</label>
                <input type="number" asp-for="@Model.Id" class="form-control" readOnly />
            </div>


            <div class="mb-3">
                <label class="form-label">Nom :</label>
                <input type="text" asp-for="@Model.Nom" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-success">Sauvegarder</button>
        </form>
    </div>
</div>
